.header {
  background: #f2f0eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header .left {
  font-size: 18px;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .profile-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
