.sidebar {
  width: 250px;
  background: #2b9cc4;
  height: 100vh;
  color: white;
  padding: 20px;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar nav a {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}
.sidebar nav a:hover {
  background: #1d7fa5;
  border-radius: 5px;
}

.sidebar nav details {
  margin-top: 10px;
  color: white;
}

.sidebar nav summary {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px ;
  list-style: none;
}

.submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.submenu li a:hover {
  text-decoration: underline;
}
